<!DOCTYPE html>
<html>
<body>
<link rel='stylesheet' href=style.css>
<% if @game.current_turn == @game.player_1 %>
<h2><%= @game.player_1.name %> attacked <%= @game.player_2.name %></h2>
<% else %>
<h2><%= @game.player_2.name %> attacked <%= @game.player_1.name %></h2>
<% end %>
<br>
<h3><form action="/switch-turns" method="post">
  <input type="submit" value="OK">
</form></h3>    
</body>
</html>