<!DOCTYPE html>
<html>
<body>
<link rel='stylesheet' href=style.css>
<div class="main">
<h1>Get Ready To Battle!</h1>
<h2>Sign in to play</h2>
<form action='/names' method="post">
  <label class="text" for="player_1">
    Player 1 name
    <input type="text" name="player_1">
  </label>
  <label class="text" for="player_2">
    Player 2 name  
    <input type="text" name="player_2">
  </label>
  <br>
  <br>
  <br>  
  <input class="submit" type="submit" value="Submit">
</form>
</div>
</body>
</html>
